# Local Netlify folder
.netlify
typewriter/text.md
wip/3d-graph/download-deps.ps1

# Test files
test*

/hugo/
slideshow/_media_removed.json
slideshow/_media.json

# Environment variables
.env
.env.local
.env.*.local
